html {
  background-color: white;
  }

.column-1 {
  background-color: blue;
  display: inline;
  height: 100%;
  width: 50%;
  float: right;
  }

.column-2 {
  background-color: red;
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
   display: inline;
  }
h2 {
  background-color: white;
}

li {
  background-color: white;
}

footer {
  background-color: green;

  width: 100%;
  clear: both;
  padding-left: 25%;
  }